<% provide(:title,  "フォルダ詳細") %>
<div class="content">
  <% @folder.videos.each do |video| %>
    <video class="video-index" controls>
      <source src="<%= url_for(video.video) %>"><br>  
    </video><br>
    <%= link_to video.title, video_path(video) %>
  <% end %>
</div>


