<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">アンケート（動画視聴後）</h1>
      <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
      <% if @post_video_questions.present? %>
        <div id="post-video-questions-container">
          <%= render partial: 'questionnaires/questions', locals: { questions: @post_video_questions, type: 'post_video' } %>
        </div>
      <% else %>
        <p>アンケートはありません</p>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      <button type="button" class="btn btn-primary">回答を送信</button>
    </div>
  </div>
</div>
