<% provide(:title,  "ビデオ一覧") %>
<div class="content">  
  <% @organization_videos.each do |organization_video| %>
    <div style="float:left;margin:15px;"> 
      <div class="video-display-index">
        <video width="300" height="200" id="mv" controls>
          <source src="<%= url_for(organization_video.video) %>">
      </div>
      <div class="video-title-and-action-index">
        <%= link_to organization_video.title, video_path(organization_video) %>
        <% if current_system_admin %> 
          <% if organization_video.is_valid == false %>
            <span>オーナー削除済み</span>
          <% end %><br>
          <%= link_to "削除", video_path(organization_video), method: :delete, data:{confirm: "削除しますか？"}, class: "btn btn-danger mt-2" %><br> 
        <% end %>  
      </div>
    </div>
  <% end %> 
</div>
        