<% provide(:title,  "ビデオ詳細") %>
<div class="content">
  <div class="video-display-show">
    <video width="1000" height="500" id="mv" controls>
      <source src="<%= url_for(@video.video) %>">
    </video><br> 
    <!-- vimeoの動画表示の場合は<iframe>で対応-->
  </div>
  <div class="video-title-and-action-show">
    <%= @video.title %>
    <div class="btn-area">
      <%= link_to "設定", edit_video_path(@video), remote: true, class: "btn btn-success" if user_signed_in? || system_admin_signed_in? %>
      <%= @video.hidden_button %>
    </div>
  </div>
</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
