<h1>アンケート回答一覧</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>視聴者</th>
      <th>メールアドレス</th>
      <th>回答</th>
      <th>回答日時</th>
    </tr>
  </thead>
  <tbody>
    <% @questionnaire_answers_grouped.each do |(viewer_id, user_id), answers| %>
      <tr>
        <td><%= answers.first.viewer_name if answers.first.viewer_name %></td>
        <td><%= answers.first.viewer_email if answers.first.viewer_email %></td>
        <td>
          <%= link_to "確認する", video_video_questionnaire_answer_path(@video, viewer_id: viewer_id.presence || '0', user_id: user_id.presence || '0'), remote: true %>
        </td>
        <td>
          <% answers.each do |answer| %>
            <div><%= answer.created_at.strftime("%Y-%m-%d %H:%M:%S") if answer.created_at %></div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>