body {
  background-color: #e0f7fa; /* 背景色を薄い水色に変更 */
  margin: 0;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.centered-form {
  max-width: 800px;
  margin: 0 auto; /* 横幅を中央に寄せる */
  background: #f9f9f9; /* フォーム全体の背景色 */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.viewer-info {
  margin-bottom: 20px; /* 名前とメールアドレスフィールドの下に間隔を追加 */
}

.viewer-info label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.viewer-info input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.question {
  margin-bottom: 20px; /* 各質問ごとに間隔を開ける */
}

.question-field {
  background-color: #f0f8ff; /* 質問フィールドの背景色を変更 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* 質問フィールドごとに間隔をあける */
  position: relative; /* 相対位置を設定 */
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-label {
  font-weight: bold;
}

.question-input {
  width: 60%; /* 質問入力欄の幅を60%に設定 */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #007b9e; /* 下線を暗い水色に設定 */
  background: transparent;
  margin-top: 10px; /* ラベルと入力欄の間隔を調整 */
  margin-bottom: 15px; /* 質問入力欄と回答フォームとの間に間隔を追加 */
}

.question-input:focus {
  outline: none;
  border-bottom-color: #005f73; /* フォーカス時の下線色をさらに暗く変更 */
}

.question textarea,
.question .radio-template,
.question .dropdown-template,
.question .checkbox-template {
  margin-top: 15px; /* 回答フォームの上に間隔を追加 */
}

.question textarea {
  width: 100%; /* 質問入力フォームを大きくする */
  padding: 10px; /* 質問入力フォームのパディングを増やす */
  font-size: 16px; /* 質問入力フォームのフォントサイズを大きくする */
  resize: vertical; /* テキストエリアのリサイズを垂直方向のみに制限 */
}

.question select {
  font-size: 16px; /* 質問形式選択のフォントサイズを大きくする */
  padding: 8px; /* 質問形式選択のパディングを増やす */
  margin-left: 10px;
}

.option-item {
  display: block; /* 選択肢を縦に表示させる */
  margin-bottom: 5px;
}

span.delete-option {
  color: gray;
  cursor: pointer;
}

.remove-question {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.toggle-container {
  text-align: center;
  margin-bottom: 20px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007b9e;
  color: white;
  border-radius: 5px;
  margin: 0 10px;
}

.toggle-button.active {
  background-color: #005f73;
}

.pagination {
  margin-left: 300px;
  font-size: large;
}

.pagination>li>a {          
  border: none;     
  color: #696969;   
}

.pagination>.active>a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination>li>a:hover {        
  border-radius: 15px;   
}

.pre-questionnaire {
  color: red;
}